<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
	  <add name="DirectEmailContext" connectionString="metadata=res://*/DataBase.DirectEmailContext.csdl|res://*/DataBase.DirectEmailContext.ssdl|res://*/DataBase.DirectEmailContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.102,1433;initial catalog=DirectEmailer;user id=hassam;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
</configuration>